* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: white;
  padding: 5%;
}

/* Header */

header {
  border: none;
  border-radius: 10px 10px 0 0;
  padding: 50px 50px 80px 50px;
  border: 2px solid #da7f7f;
  background-color: white;
  font-weight: 500;
}

.container {
  display: flex;
}

.progresso {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.legenda {
  position: absolute; /* Permite que o texto acompanhe a imagem da mesma div (posição relativa) */
  margin-top: 25px;
  font-size: 8pt;
  text-align: center;
}

.barra1 {
  flex-grow: 1; /* Faz com que o hr preencha todo o espaço disponível */
  margin: auto;
  border: 2px solid #c67070;
  height: 2px;
}

.barra2 {
  flex-grow: 1;
  margin: auto;
  border: 2px solid #ebcdcd;
  height: 2px;
}

.icon {
  height: 24px;
}

/* Main */

main {
  display: flex;
}

.pagamento {
  border-radius: 0 0 0 10px;
  padding: 6%;
  width: 60%;
  background-color: #da7f7f;
  color: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 18pt;
}

.meios {
  display: flex;
  margin: 15px 0;
  text-align: center;
  font-size: 9pt;
}

.meio {
  width: 33%;
  padding: 10px;
  border: 1px solid white;
}

.meio:hover {
  background-color: #c67070;
}

.img-meio {
  height: 24px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.numero-cartao {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#credito {
  flex-grow: 1;
}

#verificar {
  background-color: #ffffff;
  color: black;
  border: 1px solid #ebcdcd;
  border-radius: 10px;
  font-size: 9pt;
  padding: 10px;
}

#verificar:hover {
  background-color: #ebcdcd;
  color: black;
}

.outros-dados-cartao {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: left;
  font-size: 20pt;
}

.verificar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 9pt;
  justify-content: right;
  flex-wrap: wrap;
}

#month,
#cvv {
  width: 100px;
}

#confirmar {
  margin-top: 25px;
  background-color: #ffffff;
  color: black;
  border: 1px solid #ebcdcd;
  border-radius: 10px;
  font-size: 12pt;
  font-weight: 700;
  padding: 10px;
  width: 100%;
}

#confirmar:hover {
  background-color: #ebcdcd;
  color: black;
}

/* REVISÃO */

.outras-infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  border-radius: 0 0 10px 0;
  padding: 3%;
  width: 40%;
  background-color: #da7f7f49;
  border: 2px solid #da7f7f;
  border-top: 0;
  color: #ffffff;
}

.revisar {
  background-color: #da7f7f;
  border-radius: 10px;
  padding: 10px;
}

hr {
  margin: 10px 0;
  border: 1px solid white;
}

.img-revisão {
  width: 20%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #00000070;
}

.pedido {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
  padding: 5px;
  font-size: 9pt;
}

.pedido-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  flex-grow: 1;
}

.pedido-titulo {
  background-color: white;
  color: #c67070;
  border-radius: 10px;
  padding: 2px 10px;
  font-size: 8pt;
  font-weight: 700;
  flex-wrap: wrap;
}

.pedido-tamanho {
  font-size: 8pt;
  font-weight: 400;
}

.pedido-quantidade {
  font-size: 8pt;
  font-weight: 400;
}

.pedido-valor {
  font-size: 10pt;
  font-weight: 700;
}

.total {
  display: flex;
  justify-content: space-between;
}

.valor-total {
  font-weight: 700;
}

.endereço {
  font-size: 8pt;
}

/* Media Queries */

@media (max-width: 550px) {
  /* Header */

  header {
    padding: 30px 30px 40px 30px;
  }

  .legenda {
    font-size: 6pt;
    margin-top: 20px;
  }

  .icon {
    height: 16px;
  }

  /* Main */

  main {
    display: flex;
    flex-direction: column;
  }

  .pagamento {
    width: 100%;
    border-radius: 0;
  }

  .outras-infos {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }

  h2 {
    font-size: 12pt;
  }

  .meios {
    flex-direction: column;
  }

  .meio {
    width: 100%;
  }

  #month,
  #cvv {
    width: 100%;
  }

  #verificar {
    width: 100%;
  }
}
