* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: white;
  padding: 5%;
}

/* Header */

header {
  border: none;
  border-radius: 10px 10px 0 0;
  padding: 50px 50px 80px 50px;
  border: 2px solid #da7f7f;
  background-color: white;
  font-weight: 500;
}

.container {
  display: flex;
}

.progresso {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.legenda {
  position: absolute; /* Permite que o texto acompanhe a imagem da mesma div (posição relativa) */
  margin-top: 25px;
  font-size: 8pt;
  text-align: center;
}

.barra1 {
  flex-grow: 1; /* Faz com que o hr preencha todo o espaço disponível */
  margin: auto;
  border: 2px solid #C67070;
  height: 2px;
}

.barra2 {
  flex-grow: 1;
  margin: auto;
  border: 2px solid #ebcdcd;
  height: 2px;
}

.icon {
  height: 24px;
}

/* Main */

main {
  display: flex;
}

.pagamento {
  border-radius: 0 0 0 10px;
  padding: 6%;
  width: 65%;
  background-color: #da7f7f;
  color: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 16pt;
}

.outras-infos {
  border-radius: 0 0 10px 0;
  padding: 6%;
  width: 35%;
  background-color: #da7f7f49;  
  border: 2px solid #da7f7f;
  border-top: 0;
  color: #ffffff;
}

.meios {
  display: flex;
  margin: 15px 0;
  text-align: center;
  font-size: 9pt;
}

.meio {
  width: 33%;
  padding: 10px;
  border: 1px solid white;
}

.meio:hover {
  background-color: #C67070;
}

.img-meio {
  height: 24px;
}

@media (max-width: 400px) {

  /* Header */

  header {
    padding: 30px 30px 40px 30px;
  }

  .legenda {
    font-size: 6pt;
    margin-top: 20px;
  }

  .icon {
    height: 16px;
  }

  /* Main */

  main {
    display: flex;
    flex-direction: column;
  }

  .pagamento {
    width: 100%;
    border-radius: 0;
  }

  .outras-infos {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }

  h2 {
    font-size: 12pt;
  }

  .meios {
    flex-direction: column;
  }

  .meio {
    width: 100%;
  }
}